<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ocmpmcdb</display-name>
  <servlet>
    <servlet-name>updateDb</servlet-name>
    <servlet-class>dbimp.Dbconnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateDb</servlet-name>
    <url-pattern>/updateDb</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>SecuredOCMPdb</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>
            Let only  cpe manager edit this app
            </description>
      <role-name>cpeadm</role-name>
      <role-name>cpeusr</role-name>
      <role-name>terminator</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <role-name>cpeadm</role-name>
  </security-role>
  <security-role>
    <role-name>cpeusr</role-name>
  </security-role>
  <security-role>
    <role-name>terminator</role-name>
  </security-role>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/unauthorized.jsp</form-error-page>
    </form-login-config>
  </login-config>
</web-app>